{% extends 'board-base.html' %}
{% load i18n apptags boardtags leaflet_tags %}
{% block styles %}
    {{ block.super }}
    <link href="/static/devices/css/report.css" rel="stylesheet">
{% endblock %}
{% block js_header %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <link href="/static/leaflet/draw/leaflet.draw.css" rel="stylesheet">
    <script src="/static/leaflet/draw/leaflet.draw.js"></script>
{% endblock %}
 {% block menubar %}{% endblock  %}
{% block content %}
<div>
    <div class="left-side w3-dark-medium w3-padding-2">
		<div id="main_map" style="width:100%; height:600px;z-index:0;" class="w3-margin-top">
		    <div class="leaflet-bottom leaflet-center">
		        <input type="button" id="reset" value="{% trans 'Reset' %}" onclick="resetMap()" class="leaflet-control" />
		    </div>
		</div>        
    </div>   
    <div id="left-side-click" class="_click-border"></div>
    <div class="w3-flex-container-center w3-padding-2">
    {% for device in devices %}
        {% concat 'devices/' device.sensor '/box.html' as template %}
        {% include template %}
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block js_footer %}
    <script>
    let mobile_map = true;
	let slide_w = "600px";
	let slide_id = $('div.left-side');
	function search_open()       { slide_id.css("width", slide_w).css("display", "block");}
	function search_close()      { slide_id.css("width", "0px").css("display", "none"); }
	function search_toggle()     { slide_id.css('display')=='none' ? search_open(): search_close(); }
	search_open();
	$('#left-side-click').click(function(e) { if( (e.offsetX)<=parseInt($(this).css('border-left-width'))) { search_toggle(); } }); 
    var defaultLat  = toFloat("{{ request.user.homesite.lat }}", 6);
    var defaultLon  = toFloat("{{ request.user.homesite.lon }}", 6);
    var minZoom     = parseInt("{{ request.user.homesite.min_zoom }}");
    var maxZoom     = parseInt("{{ request.user.homesite.max_zoom }}");
    </script>   
    <script src="/static/devices/js/report.js"></script>   
    {{ block.super }}
{% endblock %}


