#
django
pillow
django-resized
django-colorfield
django-axes[ipware]
django-celery-beat
django-celery-results
django-leaflet
django-crispy-forms
crispy-bulma
ephem
celery[redis]
python-decouple
python-dateutil
requests
pyyaml
pytz
pyRFC3339
#paho-mqtt==1.6.1
paho-mqtt
gunicorn
reduct-py
psycopg2
mysqlclient
influxdb-client[ciso]
plotly
numpy
pandas
sshtunnel
xhtml2pdf

